.moviesCardList {
  background-color: #202020;
  padding: 0px 70px 0px 70px;
  text-align: center;
}
.moviesCardList__data {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  gap: 40px;
}
.moviesCardList__data_hide {
  display: none;
}
.moviesCardList__btn {
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 50px 0px 80px 0px;
  cursor: pointer;
}
.moviesCardList__btn_hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .moviesCardList {
    padding: 60px 30px 30px 30px;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .moviesCardList__btn {
    width: 240px;
    height: 36px;
  }
}

@media screen and (max-width: 320px) {
  .moviesCardList {
    padding: 20px 10px 20px 10px;
  }
  .moviesCardList__data {
    gap: 20px;
  }
  .moviesCardList__btn {
    width: 240px;
    height: 36px;
  }
}
