.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #202020;
}
.profile__info {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  width: calc(100% - 435px * 2);
  color: #ffffff;
  padding: 74px 0px 70px 0px;
}
.profile__greeting {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 123px;
}
.profile__elem-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile__elem {
  background-color: inherit;
  border: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
}
.profile__btn {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  margin-top: 170px;
}
.profile__btn_disable {
  opacity: 0.5;
}
.profile__btn_out {
  color: #ee3465;
  margin-top: 16px;
}
.profile__line {
  width: 100%;
  border: none;
  background-color: #424242;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 26px;
}
.profile__err {
  margin: 0;
  color: #ee3465;
  margin-right: 20px;
  text-align: right;
}
.profile__err_hide {
  margin: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .profile__info {
    width: calc(100% - 179px * 2);
    padding: 236px 0px 269px 0px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .profile__info {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 768px) {
  .profile__info {
    width: calc(100% - 179px * 2);
    padding: 232px 0px 269px 0px;
  }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
  .profile__info {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    width: calc(100% - 30px * 2);
    padding: 70px 0px 40px 0px;
  }
}
