.promo {
  background-color: #073042;
  position: relative;
  padding-top: 82px;
  padding-bottom: 122px;
}

.promo__logo {
  margin: 0 auto;
  background-image: url(../../images/landing-logo.svg);
  width: 320px;
  height: 320px;
}

.promo__title {
  margin: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: calc(100% - 750px);
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .promo__title {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 320px) {
  .promo__logo {
    width: 248px;
    height: 248px;
    background-size: cover;
  }
  .promo__title {
    font-weight: normal;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -0.04em;
    width: calc(100% - 10px * 2);
  }
}
