.searchform {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 98px 70px;
  background-color: #202020;
}
.searchform__input-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
}
.searchform__input {
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  height: 50px;
  box-sizing: border-box;
  width: inherit;
  padding: 20px;
}
.searchform__button {
  background-color: #4285f4;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
  align-self: center;
}
.searchform__toggle-button {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #202020;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.searchform__toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.searchform__toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #3ddc84;
}
.searchform__toggle-button:checked {
  background-color: #202020;
}
.searchform__toggle-button-text {
  align-self: center;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
}
.searchform__line {
  width: 100%;
  border: none;
  background-color: #424242;
  height: 1px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .searchform {
    padding: 80px 30px 50px 30px;
  }
}
@media screen and (max-width: 320px) {
  .searchform {
    padding: 80px 14px 0px 14px;
  }
  .searchform__input-block {
    margin-top: 47px;
  }
}
