.header {
  display: flex;
  flex-direction: row;
  background-color: #202020;
  justify-content: space-between;
  padding: 21px 70px 21px 70px;
}
.header_main {
  background-color: #073042;
}
.header_reg {
  padding: 0;
}
.header__logo {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.header__logo_reg {
  text-align: center;
}
.header__login {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.header__btn-reg {
  background-color: #073042;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-style: none;
  width: 76px;
  height: 32px;
  cursor: pointer;
}
.header__btn-signin {
  background-color: #3ddc84;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  cursor: pointer;
  width: 76px;
  height: 32px;
  margin-left: 30px;
  cursor: pointer;
  border: none;
}
.header__movies {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-style: normal;
  color: #ffffff;
  padding-left: 40px;
  text-decoration: none;
  align-items: center;
}
.header__movie {
  font-weight: normal;
  font-size: 13px;
  margin: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}
.header__movie_bold {
  font-weight: 500;
  margin: 16px;
  text-decoration: none;
  color: #ffffff;
}
.header__hide {
  display: none;
}
.header__account {
  display: flex;
  flex-direction: row;
  align-self: center;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header__btn-acc {
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: #313131;
  border: none;
  padding: 0;
  border-radius: 6px;
  align-self: flex-end;
  z-index: 1;
  cursor: pointer;
  margin-left: 13px;
}
.header__btn-menu {
  display: none;
  width: 44px;
  height: 44px;
  background-color: #202020;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px 18px 30px;
  }
  .header__movies {
    display: none;
  }
  .header__account {
    display: none;
  }
  .header__btn-menu {
    display: block;
  }
  .header_reg {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px 18px 14px;
  }
  .header__btn-reg {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
  .header__btn-signin {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin-left: 14px;
  }
  .header_reg {
    justify-content: center;
    padding: 0;
  }
}
