.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #202020;
}

.register__info {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  width: calc(100% - 442px * 2);
  color: #8b8b8b;
  text-align: left;
  padding: 70px 0px 70px 0px;
}
.register__greeting {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
}
.register__input {
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  height: 50px;
  box-sizing: border-box;
  padding: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.register__err {
  color: #ee3465;
  margin-top: -10px;
}
.register__btn {
  background-color: #4285f4;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  border: none;
  height: 45px;
  margin-top: 69px;
  margin-bottom: 16px;
}
.register__assumption {
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
}
.register__assumption-link {
  text-decoration: none;
  color: #4285f4;
}
@media screen and (max-width: 768px) {
  .register__info {
    width: calc(100% - 179px * 2);
    padding: 232px 0px 269px 0px;
  }
}
@media screen and (max-width: 320px) {
  .register__info {
    width: calc(100% - 30px * 2);
    padding: 70px 0px 30px 0px;
  }
  .register__greeting {
    text-align: center;
  }
}
