.aboutme {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 110px 70px 110px 70px;
}
.aboutme__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  border-bottom: 1px solid#DADADA;
  padding-bottom: 23px;
}
.aboutme__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 66px;
}
.aboutme__text-info {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.aboutme__name {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.aboutme__profession {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-top: 18px;
}
.aboutme__description {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 99px;
}
.aboutme__photo {
  object-fit: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}
.aboutme__sn-info {
  display: flex;
  flex-direction: row;
}
.aboutme__sn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding: 90px 50px 90px 50px;
  }
  .aboutme__photo {
    width: 255px;
    height: 307px;
  }
  .aboutme__description {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .aboutme {
    padding: 70px 14px 70px 14px;
  }
  .aboutme__title {
    font-size: 18px;
    line-height: 22px;
  }
  .aboutme__info {
    flex-direction: column-reverse;
  }
  .aboutme__photo {
    width: 292px;
    height: 352px;
  }
  .aboutme__description {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
  .aboutme__text-info {
    width: 100%;
  }
  .aboutme__name {
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
  }
  .aboutme__profession {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
  }
}
